{{ $name := . | default "" }}
{{ if eq $name "home" }}
  <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M3 10.5 12 3l9 7.5"/><path d="M5 9.5V21h14V9.5"/></svg>
{{ else if eq $name "file-text" }}
  <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M14 3H6a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"/><path d="M14 3v6h6"/><path d="M8 13h8"/><path d="M8 17h8"/><path d="M8 9h2"/></svg>
{{ else if eq $name "flask" }}
  <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M10 2v6l-5.5 9.5A2 2 0 0 0 6.2 21h11.6a2 2 0 0 0 1.7-3.5L14 8V2"/><path d="M8.5 12h7"/></svg>
{{ else if eq $name "book-open" }}
  <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M2 6.5C2 5.1 3.1 4 4.5 4H10c1.3 0 2.6.5 3.5 1.4C14.4 4.5 15.7 4 17 4h2.5C20.9 4 22 5.1 22 6.5V20h-5c-1.3 0-2.6.5-3.5 1.4C12.6 20.5 11.3 20 10 20H2z"/><path d="M12 6v15"/></svg>
{{ else if eq $name "folder" }}
  <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M3 6.5A2.5 2.5 0 0 1 5.5 4H10l2 2h6.5A2.5 2.5 0 0 1 21 8.5v9A2.5 2.5 0 0 1 18.5 20h-13A2.5 2.5 0 0 1 3 17.5z"/></svg>
{{ else if eq $name "tag" }}
  <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M20 10 11 19l-8-8V4h7z"/><circle cx="7.5" cy="7.5" r="1.25"/></svg>
{{ else if eq $name "search" }}
  <svg viewBox="0 0 24 24" aria-hidden="true"><circle cx="11" cy="11" r="7"/><path d="m20 20-3.5-3.5"/></svg>
{{ else if eq $name "archive" }}
  <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M4 7h16v11a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2z"/><path d="M3 4h18v3H3z"/><path d="M10 11h4"/></svg>
{{ else if eq $name "user" }}
  <svg viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="8" r="4"/><path d="M4 20a8 8 0 0 1 16 0"/></svg>
{{ else if eq $name "layers" }}
  <svg viewBox="0 0 24 24" aria-hidden="true"><path d="m12 4 9 5-9 5-9-5z"/><path d="m3 14 9 5 9-5"/><path d="m3 10 9 5 9-5"/></svg>
{{ else }}
  <svg viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="8"/></svg>
{{ end }}
