{{ $relPermalink := .RelPermalink | default "" }}
{{ $title := lower (.Title | default "") }}
{{ $isArchivePage := or
  (eq .Type "archives")
  (eq .Section "archives")
  (in $relPermalink "/archives/")
  (eq $title "archives")
  (eq $title "archive")
  (eq $title "归档")
}}
{{ $showToc := and .IsPage (.Param "ShowToc") (gt (len .TableOfContents) 0) }}
<aside class="page-toc{{ if and (not $showToc) (not $isArchivePage) }} is-empty{{ end }}">
  {{ if $isArchivePage }}
    {{ partial "archive-nav.html" . }}
  {{ else if $showToc }}
    <details class="page-toc-inner" {{ if .Param "TocOpen" }}open{{ end }}>
      <summary>On This Page</summary>
      {{ .TableOfContents }}
    </details>
  {{ end }}
</aside>
